action-server/src/main/resources/common/dtd/server-config.dtd

<!ELEMENT server (media-server?, mail?)>

<!ELEMENT media-server (address)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT port (#PCDATA)>

<!ELEMENT mail (account, password, auth-code, smtp-host, templates?)>
<!ELEMENT account (#PCDATA)>
<!ELEMENT password (#PCDATA)>
<!ELEMENT auth-code (#PCDATA)>
<!ELEMENT smtp-host (#PCDATA)>
<!ELEMENT templates (template*)>
<!ELEMENT template (key, value)>
<!ELEMENT key (#PCDATA)>
<!ELEMENT value (#PCDATA)>
